

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;900&family=Unbounded&display=swap');


.App {
  text-align: start;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
.button-getstarted {
  background-color: black;
  color: #f0f0f0;
  padding: 1rem 15rem;
  border: none;
  font-weight: 400;
  font-size: 1.2rem;
  border-radius: 40px;
  text-align: start !important;
  cursor: pointer;
}
.App-header {
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Inter', sans-serif;
}



/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */
 .titulo-nutrindo {
  color: #9e9e9e;
 }

 .titulo-boas-vindas {
  font-weight: 600;
 }

 .App-signup {
  min-height: 100vh;
  background-color: #f0f0f0;
  border-radius: 40px 40px 0px 0px ;
 }

 .title-signup {
  padding-top: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #03724D;
 }
 .subtitle-signup {
  margin-bottom: 20px;
  color: #03724D;
  margin-top: -10px;
 }


 .button-signup {
  border: none;
  background-color: #03724D;
  color: #f0f0f0;
  padding: 0.5rem 1rem;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius:80px;
  cursor: pointer;
  float: right;
 }

 .menu-home{
  text-align: center;
  float: right;
 
 }
.navegacao {
  background-color: #03724D;
  padding-right: 20px;
  padding-left: 20px;
  color: #f0f0f0 !important;
  border-radius: 0px 0px 30px 30px;
}
 .home-app {
  background-color: #f0f0f0;
  min-height: 100vh;
 }
 .saudacoes-home {
  font-size: 1.5rem;
  font-family: 'Unbounded', cursive;
  font-weight: 400;
  padding-top: 20px;
  margin-bottom: 10px;
  color: #f0f0f0;
 }
 .quantidade {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;

 }
 .quantidade-numero {
  font-size: 2.3rem;
  font-family: 'Inter', sans-serif;
 }

 .quantidade-desc {
  font-size: 1rem;
  color:  #9e9e9e;
  font-weight: 300;
 }

.adicionarCompostagem {
  margin-top: 40px;
  margin-bottom: 10px;
}

.adicionar-compostagem-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.residuos-adicionar-compostagem {
  margin-top:20px !important;
}

.button-menu {
  cursor: pointer !important;
}

.troca-button {
  margin-bottom: 10px;

}

.titulo-parceiros {
  padding-top: 10px;
}

.App-Parceiros {
  background-color: #f0f0f0;
  min-height: 100vh;
}
.App-Compostagem {
  background-color: #f0f0f0;
  min-height: 100vh;
}
